colorama==0.4.6
docker_py==1.10.6
halo==0.0.31
inspect2==0.1.2
Jinja2==3.1.4
kubernetes==31.0.0
oyaml==1.0
paramiko==3.5.0
plotly==5.24.1
prettytable==3.12.0
progressbar33==2.4
pwinput==1.0.3
pyminizip==0.2.6
pymysql==1.1.1
PyYAML==6.0.2
Requests==2.32.3
ruamel.base==1.0.0
six==1.16.0
sqlgpt_parser==0.0.1a5
sqlparse==0.5.1
subprocess32==3.5.4
tabulate==0.9.0
xmltodict==0.14.2
zstandard==0.23.0
