info_en: "[topsql info]"
info_cn: "[查看topsql]"
command: obdiag display scene run --scene=observer.topsql --env "{db_connect='-h127.0.0.1 -P2881 -utest@test -p****** -Dtest'}" --env mtime=10
task:
  - version: "[4.0.0.0, *]"
    steps:
      - type: sql
        sql: "select SQL_ID, count(*) as QPS, avg(t1.elapsed_time) RT
              from oceanbase.gv$ob_sql_audit t1
              where 
              IS_EXECUTOR_RPC = 0
              and request_time > (time_to_usec(now()) - {mtime} * 60 * 1000000)
              and request_time < time_to_usec(now())
              group by t1.sql_id order by QPS desc limit 10;"
        global: true
