name: build package

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - jingyd6_2.5_queue

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  build-rpm:
    name: Run on CentOS 7
    runs-on: ubuntu-latest
    container:
      image: "oceanbase/obdiag-builder:latest"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          export PATH=/opt/miniconda3/bin:$PATH
          source activate obdiag
          ldd --version
          pip3 install -r requirements3.txt

      - name: Build package
        run: |
          export PATH=/opt/miniconda3/bin:$PATH
          source activate obdiag
          pwd
          ls -lh
          export RELEASE=`date +%Y%m%d%H%M`
          sed -i 's/pip install -r requirements3.txt/curl https:\/\/bootstrap.pypa.io\/get-pip.py -o get-pip.py\n\
          python3 get-pip.py\n\
          pip3 install -r requirements3.txt/' ./rpm/oceanbase-diagnostic-tool.spec
          python3 -m pip install --upgrade pip wheel
          cat ./rpm/oceanbase-diagnostic-tool.spec
          python3 --version
          rpmbuild -bb ./rpm/oceanbase-diagnostic-tool.spec

      - name: Find rpm
        run: |
          find / -name oceanbase-diagnostic-tool-*.rpm

      - name: "Upload rpm"
        uses: actions/upload-artifact@v3
        with:
          name: obdiag-rpm-packages
          path: |
            /github/home/rpmbuild/RPMS/x86_64/oceanbase-diagnostic-tool-*.rpm
          retention-days: 3
          debug: true

  convert-to-deb:
    needs: build-rpm
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download RPM Artifact
        uses: actions/download-artifact@v3
        with:
          name: obdiag-rpm-packages
          path: .

      - name: Install Alien
        run: |
          sudo apt-get update
          sudo apt-get install -y alien

      - name: Convert RPM to DEB
        run: |
          sudo alien -k --scripts oceanbase-diagnostic-tool-*.rpm
          pwd

      - name: Upload DEB Artifact
        uses: actions/upload-artifact@v3
        with:
          name: obdiag-deb-package
          path: ./oceanbase-diagnostic-tool_*.deb
          retention-days: 3