name: build docker

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create and push manifests w/o cache
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          file: build/DockerFile
          push: true
          tags: |
            ${{ vars.DOCKER_PUSH_BASE }}/oceanbase/obdiag-builder:latest
